<%- include header %>
<form method="post">
	用户名：<input type="text" name="userName"><br />
	密码：<input type="text" name="userPwd"><br />
	<input type="submit" value="登录">
</form>
<a href="/login/github">使用 GitHub 登录</a>
<%- include footer %>